.DS_Store
.cache/
.clerk/
.cpcache/
.lsp/
node_modules
/scratch
notebooks/scratch*
/public/js/
/.shadow-cljs/
/target/
.idea/
clerk.iml
/public/girouette.css
/public/images/
/test/nextjournal/clerk/fixtures/
*~
.work
/build
/public/build
.nrepl-port
.clj-kondo/marick
.clj-kondo/nextjournal/clerk
.secrets.env
report.html
