.DS_Store
.cache/
.clerk/
.cpcache/
.lsp/
node_modules
notebooks/scratch*
/public/js/
/.shadow-cljs/
/target/
.idea/
clerk.iml
public/girouette.css
public/images/
yarn.lock
*~
.work
/build
/public/build
.nrepl-port
.clj-kondo/marick
