{:min-bb-version "1.0.164"
 :paths ["bb/stubs" "src" "notebooks" "resources"]
 :deps {hiccup/hiccup {:mvn/version "2.0.0-alpha2"}}
 :tasks
 {clerk
  {:requires ([babashka.fs :as fs]
              [babashka.nrepl.server :as srv]
              [nextjournal.clerk :as clerk]
              [babashka.cli :as cli])
   :task (do (srv/start-server! {:host "localhost" :port 1339})
             (spit ".nrepl-port" "1339")
             (clerk/serve! (cli/parse-opts *command-line-args*))
             (-> (Runtime/getRuntime)
               (.addShutdownHook (Thread. (fn []
                                            (clerk/halt!)
                                            (fs/delete ".nrepl-port")))))
             (deref (promise)))}}}
