{:min-bb-version "1.12.200"
 :paths ["src" "notebooks" "resources"]
 :deps {io.github.nextjournal/dejavu {:git/sha "4980e0cc18c9b09fb220874ace94ba6b57a749ca"}
        io.github.nextjournal/cas-client {:git/sha "d9f838937ebc8b645fe5764949e72a6df8e344de"}
        mvxcvi/multiformats {:git/url "https://github.com/greglook/clj-multiformats"
                             :git/sha "1189f1fb26db180cd8dcfd50518cdf553c0ff9e1"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        io.github.nextjournal/markdown {:mvn/version "0.6.157"}
        io.github.nextjournal/clerk-slideshow {:git/sha "562f634494a1e1a9149ed78d5d39fd9486cc00ba"}
        weavejester/dependency {:mvn/version "0.2.1"}
        io.github.babashka/sci.nrepl {:mvn/version "0.0.2"}}
 :tasks
 {:init (do (require '[babashka.fs :as fs]))
  -dev
  {:requires (
              [babashka.nrepl.server :as srv]
              [nextjournal.clerk :as clerk]
              [babashka.cli :as cli])
   :task (do (srv/start-server! {:host "localhost" :port 1339})
             (spit ".nrepl-port" "1339")
             (nextjournal.clerk/serve! (cli/parse-opts *command-line-args*))
             (-> (Runtime/getRuntime)
               (.addShutdownHook (Thread. (fn []
                                            (nextjournal.clerk/halt!)
                                            (fs/delete ".nrepl-port")))))
             (deref (promise)))}
  dev (do
        (prn :bb (fs/which "bb"))
        (babashka.process/exec "bb" "-Dclerk.resource_manifest={\"/js/viewer.js\" \"/js/viewer.js\"}" "--config" "bb-runtime.edn" "-dev"))

  build
  {:requires ([nextjournal.clerk :as clerk]
              [babashka.cli :as cli])
   :task (let [spec (-> (resolve 'nextjournal.clerk/build!) meta :org.babashka/cli)]
           (clerk/build! (cli/parse-opts *command-line-args* spec)))}}}
