{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/java.classpath {:mvn/version "1.0.0"}
        org.clojure/tools.analyzer.jvm {:mvn/version "1.1.0"}
        org.clojure/tools.deps.alpha {:mvn/version "0.11.905"}
        borkdude/edamame {:mvn/version "0.0.11"}
        weavejester/dependency {:mvn/version "0.2.1"}

        funcool/datoteka {:mvn/version "1.0.0"}
        com.nextjournal/beholder {:mvn/version "1.0.0"}
        com.taoensso/nippy {:mvn/version "3.1.1"}
        mvxcvi/multihash {:mvn/version "2.0.3"}
        javax.xml.bind/jaxb-api {:mvn/version "2.3.1"} ;; needed to make multihash work on JDK11+

        http-kit/http-kit {:mvn/version "2.5.3"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        lambdaisland/uri {:mvn/version "1.4.70"}

        arrowic/arrowic {:mvn/version "0.1.1"}
        rewrite-clj/rewrite-clj {:mvn/version "0.6.1"}}

 :aliases {:sci {:extra-deps  {io.github.nextjournal/clojure-mode    {:git/sha "a83c87cd2bd2049b70613f360336a096d15c5518"}
                               io.github.nextjournal/freerange       {:git/sha "8cf68c30722a4c6f8f948a134c900d7a656ecad4"}
                               io.github.nextjournal/devcards        {:git/url "git@github.com:nextjournal/viewers.git"
                                                                      :git/sha "7ebeda33652309157c1337f84aba1206441eacd2"
                                                                      :deps/root "modules/devcards"}
                               io.github.nextjournal/markdown        {:git/url "git@github.com:nextjournal/viewers.git"
                                                                      :git/sha "7ebeda33652309157c1337f84aba1206441eacd2" ;; https://github.com/nextjournal/viewers/pull/1
                                                                      :deps/root "modules/markdown"}

                               metosin/reitit-frontend     {:mvn/version "0.5.15"}
                               borkdude/sci                {:mvn/version "0.2.6"}
                               applied-science/js-interop  {:mvn/version "0.3.0"}}}
           :shadow {:extra-deps {thheller/shadow-cljs {:mvn/version "2.14.6"}}
                    :main-opts ["-m" "shadow.cljs.devtools.cli"]}
           :demo {:extra-paths ["notebooks/src"]
                  :extra-deps {com.github.seancorfield/next.jdbc {:mvn/version "1.2.659"}
                               org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}
                               org.clojure/data.csv {:mvn/version "1.0.0"}}}}}
