{:deps {:aliases [:sci]}
 :dev-http {7778 {:roots ["public" "classpath:public"]}}
 :nrepl false
 :builds {:viewer {:target :esm
                   :runtime :browser ;; `:custom` needed when developing ssr, will see WebSocket errors without it
                   :output-dir "public/js"
                   :release {:output-dir "build/"}
                   :compiler-options {:source-map true}
                   :dev {:modules {:viewer {:entries [devtools]}}}
                   :modules {:viewer {:entries [nextjournal.clerk.sci-env
                                                nextjournal.clerk.trim-image]}}
                   :js-options {:output-feature-set :es8                                
                                :keep-as-import #{"katex"}}
                   :build-hooks [(shadow.cljs.build-report/hook
                                  {:output-to "report.html" :print-table true})]}}}
