{"https://cdn.tailwindcss.com/3.0.23?plugins=typography@0.5.2" "https://storage.googleapis.com/nextjournal-cas-eu/data/36q3Vv52BMdq6KArT8NxBBcm5xXwGTQ4tXkFwjKDkSZx8TJL47KhhHDadZkLVLZSqXGuSLeoL9Mm1Em87cusoqVN", "https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.css" "https://storage.googleapis.com/nextjournal-cas-eu/data/87awbfCbtFWw7gVXM6kxbeJk1CvuxmNA8T8FzKYAuaKw7jKm3RrEeDCN262SvZZtedFfPEkHsDpt9ZwJ3bFvs9u", "https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Fira+Mono:wght@400;700&family=Fira+Sans+Condensed:ital,wght@0,700;1,700&family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" "https://storage.googleapis.com/nextjournal-cas-eu/data/VgU8GwvZQf1ui1GpHnGWzvAHspYeB1SCVdSSya2Zy2CSozvqK7ZaVhwPMGgdYvw66JnwZMDRKy2q1L3hpXQBnd8"}