{:asset-map
 {"https://fonts.gstatic.com/s/firacode/v18/uU9NCBsR6Z2vfE9aq3bh2dSDqFGedCMX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/uU9NCBsR6Z2vfE9aq3bh2dSDqFGedCMX.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRQQgYoZZY2vCFuvAFT9gaQZyTfoOFC-I2irw.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRQQgYoZZY2vCFuvAFT9gaQZyTfoOFC-I2irw.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bS2SlFPv1weGeLZDtondvHkvfUS5NBBASF.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bS2SlFPv1weGeLZDtondvHkvfUS5NBBASF.woff2",
  "https://fonts.gstatic.com/s/firacode/v18/uU9NCBsR6Z2vfE9aq3bh3tSDqFGedCMX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/uU9NCBsR6Z2vfE9aq3bh3tSDqFGedCMX.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bS2SlFPv1weGeLZDtondvHk_fUS5NBBASF.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bS2SlFPv1weGeLZDtondvHk_fUS5NBBASF.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bX2SlFPv1weGeLZDtgK_7Ss9XZYalI.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bX2SlFPv1weGeLZDtgK_7Ss9XZYalI.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRQQgYoZZY2vCFuvAFT9gaQZynfoOFC-I0.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRQQgYoZZY2vCFuvAFT9gaQZynfoOFC-I0.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrA6Qif4VFnklULW.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrA6Qif4VFnklULW.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9E4kDNxMZdWfMOD5Vvk4jLazX3dGTP.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9E4kDNxMZdWfMOD5Vvk4jLazX3dGTP.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrA6Qif1VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrA6Qif1VFnklULWJXg.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrByRCf2VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrByRCf2VFnklULWJXg.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnLK3eRhf6Xl7Glw.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnLK3eRhf6Xl7Glw.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRVQgYoZZY2vCFuvAFWzr-_dSb_.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRVQgYoZZY2vCFuvAFWzr-_dSb_.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9E4kDNxMZdWfMOD5Vvm4jLazX3dGTP.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9E4kDNxMZdWfMOD5Vvm4jLazX3dGTP.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrA6Qif3VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrA6Qif3VFnklULWJXg.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRQQgYoZZY2vCFuvAFT9gaQZy3foOFC-I2irw.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRQQgYoZZY2vCFuvAFT9gaQZy3foOFC-I2irw.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnZKveSxf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnZKveSxf6Xl7Gl3LX.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bX2SlFPv1weGeLZDtgIv7Ss9XZYalI.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bX2SlFPv1weGeLZDtgIv7Ss9XZYalI.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnLK3eSxf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnLK3eSxf6Xl7Gl3LX.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9E4kDNxMZdWfMOD5VvlIjLazX3dGTP.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9E4kDNxMZdWfMOD5VvlIjLazX3dGTP.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRTQgYoZZY2vCFuvAFT_rm1cgT9rct48Q.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRTQgYoZZY2vCFuvAFT_rm1cgT9rct48Q.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9E4kDNxMZdWfMOD5VvmojLazX3dGTP.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9E4kDNxMZdWfMOD5VvmojLazX3dGTP.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMB0cjRYhY8XEA.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMB0cjRYhY8XEA.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9E4kDNxMZdWfMOD5Vvl4jLazX3dA.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9E4kDNxMZdWfMOD5Vvl4jLazX3dA.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bX2SlFPv1weGeLZDtgKP7Ss9XZYalI.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bX2SlFPv1weGeLZDtgKP7Ss9XZYalI.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRTQgYoZZY2vCFuvAFT_rO1cgT9rct48Q.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRTQgYoZZY2vCFuvAFT_rO1cgT9rct48Q.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrA6Qif8VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrA6Qif8VFnklULWJXg.woff2",
  "https://cdn.tailwindcss.com/3.0.23?plugins=typography@0.5.2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/5TdqR2mFDMM1KGEB7cLdQ1vgLk3ZLQdzTBfQn1Zng8rUEdfCo1E3TkeMVRFgWKYmV1wvYcN7u5UzfmhYFBLRzvsQ?name=tailwind.css",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRTQgYoZZY2vCFuvAFT_r21cgT9rcs.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRTQgYoZZY2vCFuvAFT_r21cgT9rcs.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnZKveQhf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnZKveQhf6Xl7Gl3LX.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEfD5fp40nEYfW.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEfD5fp40nEYfW.woff2",
  "https://fonts.gstatic.com/s/firacode/v18/uU9NCBsR6Z2vfE9aq3bh09SDqFGedCMX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/uU9NCBsR6Z2vfE9aq3bh09SDqFGedCMX.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRVQgYoZZY2vCFuvAFYzr-_dSb_nco.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRVQgYoZZY2vCFuvAFYzr-_dSb_nco.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9C4kDNxMZdWfMOD5VvkrjNYTLVdlTOr0s.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9C4kDNxMZdWfMOD5VvkrjNYTLVdlTOr0s.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnLK3eSBf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnLK3eSBf6Xl7Gl3LX.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMR0cjRYhY8.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMR0cjRYhY8.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnLK3eSRf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnLK3eSRf6Xl7Gl3LX.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnZKveShf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnZKveShf6Xl7Gl3LX.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnLK3eQhf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnLK3eQhf6Xl7Gl3LX.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9E4kDNxMZdWfMOD5VvmYjLazX3dGTP.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9E4kDNxMZdWfMOD5VvmYjLazX3dGTP.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnZKveSBf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnZKveSBf6Xl7Gl3LX.woff2",
  "https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Fira+Mono:wght@400;700&family=Fira+Sans+Condensed:ital,wght@0,700;1,700&family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/4HEU31FfU4qeBJsckPYy513MpNjJ7QFh2cvB9i4swFyB1txeskrvvbCmqYQZcXbADJnwWBYyFzMt3RJCQ4cSLpuQ?name=fonts.css",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrByRCf1VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrByRCf1VFnklULWJXg.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bS2SlFPv1weGeLZDtondvHnvfUS5NBBA.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bS2SlFPv1weGeLZDtondvHnvfUS5NBBA.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEcD5fp40nEQ.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEcD5fp40nEQ.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRSQgYoZZY2vCFuvAnt66qWVyvVp8NAyIw.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRSQgYoZZY2vCFuvAnt66qWVyvVp8NAyIw.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMd0cjRYhY8XEA.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMd0cjRYhY8XEA.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrA6Qif0VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrA6Qif0VFnklULWJXg.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEfT5fp40nEYfW.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEfT5fp40nEYfW.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRQQgYoZZY2vCFuvAFT9gaQZyffoOFC-I2irw.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRQQgYoZZY2vCFuvAFT9gaQZyffoOFC-I2irw.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMh0cjRYhY8XEA.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMh0cjRYhY8XEA.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrByRCf7VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrByRCf7VFnklULWJXg.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrA6Qif7VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrA6Qif7VFnklULWJXg.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMt0cjRYhY8XEA.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMt0cjRYhY8XEA.woff2",
  "https://fonts.gstatic.com/s/firacode/v18/uU9NCBsR6Z2vfE9aq3bh3dSDqFGedA.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/uU9NCBsR6Z2vfE9aq3bh3dSDqFGedA.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bS2SlFPv1weGeLZDtondvHkPfUS5NBBASF.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bS2SlFPv1weGeLZDtondvHkPfUS5NBBASF.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9C4kDNxMZdWfMOD5VvkrjKYTLVdlTOr0s.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9C4kDNxMZdWfMOD5VvkrjKYTLVdlTOr0s.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEcz5fp40nEYfW.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEcz5fp40nEYfW.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMl0cjRYhY8XEA.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMl0cjRYhY8XEA.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrA6Qif2VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrA6Qif2VFnklULWJXg.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRSQgYoZZY2vCFuvAnt66qfVyvVp8NAyIw.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRSQgYoZZY2vCFuvAnt66qfVyvVp8NAyIw.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEdD5fp40nEYfW.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEdD5fp40nEYfW.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9C4kDNxMZdWfMOD5VvkrjFYTLVdlTOr0s.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9C4kDNxMZdWfMOD5VvkrjFYTLVdlTOr0s.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrByRCf4VFnklULW.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrByRCf4VFnklULW.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9C4kDNxMZdWfMOD5VvkrjGYTLVdlTOr0s.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9C4kDNxMZdWfMOD5VvkrjGYTLVdlTOr0s.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnZKveRRf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnZKveRRf6Xl7Gl3LX.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bS2SlFPv1weGeLZDtondvHnffUS5NBBASF.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bS2SlFPv1weGeLZDtondvHnffUS5NBBASF.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnZKveRhf6Xl7Glw.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnZKveRhf6Xl7Glw.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnZKveSRf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnZKveSRf6Xl7Gl3LX.woff2",
  "https://fonts.gstatic.com/s/firacode/v18/uU9NCBsR6Z2vfE9aq3bh0dSDqFGedCMX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/uU9NCBsR6Z2vfE9aq3bh0dSDqFGedCMX.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRVQgYoZZY2vCFuvAFbzr-_dSb_nco.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRVQgYoZZY2vCFuvAFbzr-_dSb_nco.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrByRCf3VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrByRCf3VFnklULWJXg.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9C4kDNxMZdWfMOD5VvkrjEYTLVdlTOr0s.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9C4kDNxMZdWfMOD5VvkrjEYTLVdlTOr0s.woff2",
  "https://fonts.gstatic.com/s/firacode/v18/uU9NCBsR6Z2vfE9aq3bh0NSDqFGedCMX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/uU9NCBsR6Z2vfE9aq3bh0NSDqFGedCMX.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRVQgYoZZY2vCFuvAFSzr-_dSb_nco.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRVQgYoZZY2vCFuvAFSzr-_dSb_nco.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRSQgYoZZY2vCFuvAnt66qSVyvVp8NA.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRSQgYoZZY2vCFuvAnt66qSVyvVp8NA.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRSQgYoZZY2vCFuvAnt66qcVyvVp8NAyIw.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRSQgYoZZY2vCFuvAnt66qcVyvVp8NAyIw.woff2",
  "https://fonts.gstatic.com/s/ptserif/v16/EJRTQgYoZZY2vCFuvAFT_rC1cgT9rct48Q.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/EJRTQgYoZZY2vCFuvAFT_rC1cgT9rct48Q.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bX2SlFPv1weGeLZDtgKv7Ss9XZYalI.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bX2SlFPv1weGeLZDtgKv7Ss9XZYalI.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bS2SlFPv1weGeLZDtondvHmvfUS5NBBASF.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bS2SlFPv1weGeLZDtondvHmvfUS5NBBASF.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEfz5fp40nEYfW.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEfz5fp40nEYfW.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bX2SlFPv1weGeLZDtgJf7Ss9XZYalI.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bX2SlFPv1weGeLZDtgJf7Ss9XZYalI.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9E4kDNxMZdWfMOD5VvmIjLazX3dGTP.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9E4kDNxMZdWfMOD5VvmIjLazX3dGTP.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnLK3eRRf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnLK3eRRf6Xl7Gl3LX.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrByRCf8VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrByRCf8VFnklULWJXg.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9C4kDNxMZdWfMOD5VvkrjJYTLVdlTO.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9C4kDNxMZdWfMOD5VvkrjJYTLVdlTO.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrByRCf0VFnklULWJXg.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9f4kDNxMZdWfMOD5VvkrByRCf0VFnklULWJXg.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMp0cjRYhY8XEA.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMp0cjRYhY8XEA.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9C4kDNxMZdWfMOD5VvkrjHYTLVdlTOr0s.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9C4kDNxMZdWfMOD5VvkrjHYTLVdlTOr0s.woff2",
  "https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnLK3eShf6Xl7Gl3LX.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/va9B4kDNxMZdWfMOD5VnLK3eShf6Xl7Gl3LX.woff2",
  "https://fonts.gstatic.com/s/firamono/v14/N0bX2SlFPv1weGeLZDtgJv7Ss9XZYQ.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/N0bX2SlFPv1weGeLZDtgJv7Ss9XZYQ.woff2",
  "https://fonts.gstatic.com/s/firasanscondensed/v10/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEfj5fp40nEYfW.woff2"
  "https://storage.googleapis.com/nextjournal-cas-eu/data/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEfj5fp40nEYfW.woff2"}}
