@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 18px;
  }
  @media (max-width: 600px) {
    html {
      font-size: 16px;
    }
  }
  .font-condensed { font-family: "Fira Sans Condensed", sans-serif; }
  .font-inter     { font-family: "Inter", sans-serif; }
  body {
    @apply font-serif antialiased text-gray-900 sm:overscroll-y-none;
  }
  code, .code {
    @apply font-mono text-sm text-gray-900 bg-slate-50 px-0.5 py-px rounded dark:bg-gray-800;
  }
  code::before, code::after { @apply content-none !important; }
  h1, h2, h3, h4, h5, h6 {
    @apply font-condensed font-bold;
    /*mt-8 first:mt-0*/
  }
  h1 { @apply text-4xl; }
  h2 { @apply text-3xl; }
  h3 { @apply text-2xl; }

  button { @apply focus:outline-none; }
  strong { @apply font-bold; }
  em     { @apply italic; }
  pre    { @apply m-0 font-mono; }
}

/* Compatibility */
/* --------------------------------------------------------------- */
/* TODO: Verify which colors are in use and replace with Tailwind
   colors accordingly. Move Nj-specific styles out of here. */

:root {
  --teal-color: #31afd0;
  --dark-teal-color: #095960;
  --near-black-color: #2e2e2c;
  --red-color: #d64242;
  --dark-blue-color: #1f2937;
  --dark-blue-60-color: rgba(28, 42, 56, 0.6);
  --gray-panel-color: rgba(239, 241, 245, 1.000);
  --brand-color: var(--dark-blue-color);
  --link-color: #5046e4;
  --command-bar-selected-color: var(--teal-color);
}

.serif      { @apply font-serif; }
.sans-serif { @apply font-sans; }
.monospace  { @apply font-mono; }
.inter      { @apply font-inter; }

.border-color-teal { border-color: var(--dark-teal-color); }
.teal { color: var(--teal-color); }
.bg-dark-blue { background: var(--dark-blue-color); }
.bg-dark-blue-60 { background: rgba(28, 42, 56, 0.6); }
.bg-gray-panel { background: var(--gray-panel-color); }
.text-dark-blue  { color: var(--dark-blue-color); }
.text-dark-blue-60 { color: var(--dark-blue-60-color); }
.border-dark-blue-30 { border-color: rgba(28, 42, 56, 0.6); }
.text-brand { color: var(--dark-blue-color); }
.bg-brand { background: var(--dark-blue-color); }
.text-selected { color: white; }
.red { color: var(--red-color); }

/* Disclose Button */
/* --------------------------------------------------------------- */

.disclose {
  @apply content-none border-solid cursor-pointer inline-block relative mr-[3px] top-[-2px] transition-all;
  border-color: var(--near-black-color) transparent;
  border-width: 6px 4px 0;
}
.disclose:hover {
  border-color: var(--near-black-color) transparent;
}
.dark .disclose,
.dark .disclose:hover {
  border-color: white transparent;
}
.disclose.collapsed {
  @apply rotate-[-90deg];
}

/* Layout */
/* --------------------------------------------------------------- */

.page {
  @apply max-w-5xl mx-auto px-12 box-border flex-shrink-0;
}
.max-w-wide  { @apply max-w-3xl !important; }

/* List Styles */
/* --------------------------------------------------------------- */

.task-list-item + .task-list-item,
.has-prose ul .task-list-item ul {
  @apply mt-1;
}

/* compact TOC */
.has-prose .toc ul {
  list-style: none;
  @apply my-0;
}

/* Code Viewer */
/* --------------------------------------------------------------- */

.viewer-code {
  @apply font-mono bg-slate-100 rounded-sm text-sm mt-4 overflow-x-auto dark:bg-gray-800;
}
.viewer-code .cm-content {
  @apply py-4 px-8;
}
@media (min-width: 960px){
  .viewer-notebook .viewer-code .cm-content {
    @apply py-4 pl-12;
  }
}
/* Don’t show focus outline when double-clicking cell in Safari */
.cm-scroller { @apply focus:outline-none; }

/* Syntax Highlighting */
/* --------------------------------------------------------------- */

.inspected-value { @apply text-xs font-mono leading-[1.25rem]; }
.cmt-strong, .cmt-heading { @apply font-bold; }
.cmt-emphasis { @apply italic; }
.cmt-strikethrough { @apply line-through; }
.cmt-link { @apply underline; }
.untyped-value { @apply whitespace-nowrap; }

.cm-editor, .cmt-default, .viewer-result {
  @apply text-slate-800 dark:text-slate-300;
}
.cmt-keyword {
  @apply text-purple-800 dark:text-pink-400;
}
.cmt-atom, .cmt-bool, .cmt-url, .cmt-contentSeparator, .cmt-labelName {
  @apply text-blue-900 dark:text-blue-300;
}
.cmt-inserted, .cmt-literal {
  @apply text-emerald-700 dark:text-emerald-200;
}
.cmt-string, .cmt-deleted {
  @apply text-rose-700 dark:text-sky-300;
}
.cmt-regexp, .cmt-escape {
  @apply text-orange-500 dark:text-orange-300;
}
.cmt-variableName {
  @apply text-blue-800 dark:text-sky-300;
}
.cmt-typeName, .cmt-namespace {
  @apply text-emerald-600 dark:text-emerald-300;
}
.cmt-className {
  @apply text-teal-600 dark:text-teal-200;
}
.cmt-macroName {
  @apply text-teal-700 dark:text-teal-200;
}
.cmt-propertyName {
  @apply text-blue-700 dark:text-blue-200;
}
.cmt-comment {
  @apply text-slate-500 dark:text-slate-400;
}
.cmt-meta {
  @apply text-slate-600 dark:text-slate-400;
}
.cmt-invalid {
  @apply text-red-500 dark:text-red-300;
}

.result-data {
  @apply font-mono text-sm overflow-x-auto whitespace-nowrap leading-normal;
}
.result-data::-webkit-scrollbar, .path-nav::-webkit-scrollbar {
  @apply h-0;
}
.result-data-collapsed {
  @apply whitespace-nowrap;
}
.result-data-field {
  @apply ml-4 whitespace-nowrap;
}
.result-data-field-link{
  @apply ml-4 whitespace-nowrap cursor-pointer;
}
.result-data-field-link:hover {
  @apply text-black bg-black/5;
}
.result-text-empty {
  color: rgba(0,0,0,.3);
}
.browsify-button:hover {
  box-shadow: -2px 0 0 2px #edf2f7;
}

/* Prose */
/* --------------------------------------------------------------- */

.has-prose {
  @apply prose
    dark:prose-invert
    prose-a:text-blue-600 prose-a:no-underline hover:prose-a:underline
    dark:prose-a:text-blue-300
    prose-p:leading-snug prose-ol:leading-snug prose-ul:leading-snug prose-blockquote:leading-snug
    prose-hr:border-t prose-hr:border-solid prose-hr:border-slate-200
    prose-figcaption:mt-2 prose-figcaption:text-xs
    prose-code:font-medium prose-code:bg-slate-100

    prose-th:mb-0
    prose-img:mb-0

    prose-headings:w-full prose-headings:max-w-prose prose-headings:px-8 prose-headings:mb-0
    prose-h1:mt-[0.67em] first:prose-h1:mt-0 prose-h2:mt-[0.83em] prose-h3:mt-[1em] prose-h4:mt-4
    prose-p:w-full prose-p:max-w-prose prose-p:px-8 prose-p:my-0
    prose-ul:w-full prose-ul:max-w-prose prose-ul:pl-14 prose-ul:pr-8 prose-ul:my-0
    prose-ol:w-full prose-ol:max-w-prose prose-ol:pl-14 prose-ol:pr-8 prose-ol:my-0
    prose-blockquote:w-full prose-blockquote:max-w-prose prose-blockquote:px-8 prose-blockquote:my-0
    prose-hr:w-full prose-hr:max-w-prose prose-hr:px-8 prose-hr:my-8

    flex flex-col items-center flex-auto max-w-none gap-4;
}
.has-prose h5, .has-prose h6 {
  @apply w-full max-w-prose mx-8;
}
.has-prose li > p {
  @apply inline px-0;
}
.has-prose li:first-of-type {
  @apply mt-0;
}
.has-prose ul ul, .has-prose ul ol, .has-prose ol ul, .has-prose ol ol {
  @apply px-4 mt-1.5;
}
.has-prose blockquote p {
  @apply mx-0;
}
.has-prose blockquote p + * {
  @apply mt-4;
}
.has-prose blockquote p:first-of-type:before,
.has-prose blockquote p:last-of-type:after {
  @apply content-none;
}

/* Todo Lists */
/* --------------------------------------------------------------- */

.contains-task-list {
  @apply pl-6 list-none;
}
.contains-task-list li p {
  @apply inline m-0;
}
.contains-task-list input[type="checkbox"] {
  @apply appearance-none h-4 w-4 rounded border border-slate-200 relative mr-[0.3rem] ml-[-1.5rem] top-[0.15rem];
}
.contains-task-list input[type="checkbox"]:checked {
  @apply border-indigo-600 bg-indigo-600 bg-no-repeat bg-contain;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

/* Markdown TOC */
/* --------------------------------------------------------------- */

.has-prose .toc      { @apply mt-4; }
.has-prose h1 + .toc { @apply mt-8; }

.has-prose .toc h1,
.has-prose .toc h2,
.has-prose .toc h3,
.has-prose .toc h4,
.has-prose .toc h5,
.has-prose .toc h6 {
  @apply text-base text-indigo-600 font-sans my-0;
}
.has-prose .toc a {
  @apply text-indigo-600 font-normal no-underline hover:underline;
}
.has-prose .toc li    { @apply m-0; }
.has-prose .toc ul ul { @apply pl-4; }

/* Notebook Spacing */
/* --------------------------------------------------------------- */

.viewer-notebook { @apply py-16; }
#clerk-static-app .viewer-notebook { @apply pt-[0.8rem] pb-16; }
/*.viewer-markdown *:first-child:not(.viewer-code) { @apply mt-0; }*/
/*.viewer + .viewer { @apply mt-6; }*/
/*.viewer-markdown + .viewer { @apply mt-3; }*/
/*.viewer-markdown + .viewer-markdown { @apply mt-0; }*/

/* Sidenotes */
/* --------------------------------------------------------------- */

.sidenote-ref {
  @apply top-[-3px] inline-flex justify-center items-center w-[18px] h-[18px]
    rounded-full bg-slate-100 border border-slate-300 hover:bg-slate-200 hover:border-slate-300
    m-0 ml-[4px] cursor-pointer;
}
.sidenote {
  @apply hidden float-left clear-both mx-[2.5%] my-4 text-xs relative w-[95%];
}
.sidenote-ref.expanded + .sidenote {
  @apply block;
}
@media (min-width: 860px) {
  .sidenote-ref {
    @apply top-[-0.5em] w-auto h-auto inline border-0 bg-transparent m-0 pointer-events-none;
  }
  .sidenote sup { @apply inline; }
  .viewer-markdown .contains-sidenotes p { @apply max-w-[65%]; }
  .viewer-markdown p .sidenote {
    @apply mr-[-54%] mt-[0.2rem] w-1/2 float-right clear-right relative block;
  }
}
/*.viewer-code + .viewer:not(.viewer-markdown):not(.viewer-code):not(.viewer-code-folded),*/
/*.viewer-code-folded + .viewer:not(.viewer-markdown):not(.viewer-code):not(.viewer-code-folded),*/
/*.viewer-result + .viewer-result {*/
/*  @apply mt-2;*/
/*}*/
.viewer-result {
  @apply leading-tight;
}
@media (min-width: 768px) {
  .devcard-desc > div {
    @apply max-w-full m-0;
  }
}

/* Command Palette */
/* --------------------------------------------------------------- */

.nj-commands-input {
  @apply bg-transparent text-white;
}
.nj-context-menu-item:hover:not([disabled]) {
  @apply cursor-pointer;
  background-color: rgba(255,255,255,.14);
}

/* Devdocs */
/* --------------------------------------------------------------- */

.logo, .logo-white {
  @apply block indent-[-999em];
  background: url(/images/nextjournal-logo.svg) center center no-repeat;
}
.devdocs-body {
  @apply font-inter;
}

/* Workarounds */
/* --------------------------------------------------------------- */

/* Fixes vega viewer resizing into infinity */
.vega-embed .chart-wrapper { @apply h-auto !important; }
/* fixes fraction separators being overridden by tw’s border-color */
.katex * { @apply border-black; }
