{:paths ["."]
 :deps {applied-science/js-interop {:mvn/version "0.3.3"}
        binaryage/devtools {:mvn/version "1.0.3"}
        cider/cider-nrepl {:mvn/version "0.28.3"}
        org.babashka/sci {:mvn/version "0.7.39"}
        reagent/reagent {:mvn/version "1.2.0"}
        io.github.babashka/sci.configs {:git/sha "0702ea5a21ad92e6d7cca6d36de84271083ea68f"}
        io.github.nextjournal/clojure-mode {:git/sha "ac038ebf6e5da09dd2b8a31609e9ff4a65e36852"}
        thheller/shadow-cljs {:mvn/version "2.23.5"}
        io.github.squint-cljs/cherry {:local/root "/Users/borkdude/dev/cherry"
                                      #_#_:git/sha "ac89d93f136ee8fab91f62949de5b5822ba08b3c"}}}
