{:deps {io.github.nextjournal/clerk {:local/root "../"}}
 :aliases {:nextjournal/clerk {:extra-deps {org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}
                               :exec-fn nextjournal.clerk/build-static-app!
                               :exec-args {:paths ["index.clj"]
                                           :bundle? false}}
           :demo {:extra-deps {com.github.seancorfield/next.jdbc {:mvn/version "1.2.659"}
                               org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}
                               org.clojure/data.csv {:mvn/version "1.0.0"}
                               hickory/hickory {:mvn/version "0.7.1"}
                               sicmutils/sicmutils {:mvn/version "0.20.0"}}}}}
